.title {
  margin-top: 80px;
  flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .title {
    margin-bottom: 50px;

    h1 {
      margin-bottom: 50px;
    }
  }
}