.about {
    margin-top: 50px;
    flex-direction: column;
    text-align: center;

    .containeur {
        flex-direction: column;
        justify-content: space-between;
        background-color: #FFFF;
        color: #212A31;

        .about-paragraphs {
            height: 100%;
            text-align: justify;
            margin: 0 15px,
        }
    }
}

@media screen and (max-width: 768px) {}