.footer {
  display: flex;            
  justify-content: center;   
  align-items: center;     
  gap: 20px;                 

  .footer-copyright {
    font-size: 12px;
    margin: 0;
    color: #555;
  }

  .footer-link {
    width: 30px;
    color: #ff7e5f;        
    cursor: pointer;
    padding-bottom: 5px;
    
  }
}
