.about {
    margin-top: 5%;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .about {
        text-align: center;
    }

    .containeur {
        .about-paragraphs {
            height: 70%;
        }
    }
}